* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat; 
    background-size:contain;
    background-position: top;
    height: 100vh;
}

#card-position {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#card {
    width: 87%;
    height: 80%;
    max-width: 450px;
    max-height: 697px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 20px 20px hsl(245, 75%, 52%, 0.1);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1.5%;
    gap: 1.5rem;
}

#card > img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: auto;
}

#tarif {
    background-color: hsl(225, 100%, 98%);
    width: 78.66%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    
}

h1 {
    margin: 46px auto 20px auto;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    color: hsl(223, 47%, 23%);
}

#text > p {
    width: 338px;
    height: 74px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: hsl(224, 23%, 55%);
}

#tarif > img {
    margin: auto auto auto 25px;
}

#tarif > #text_tarif {
    text-align: left;
    margin-left: 5px;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: hsl(223, 47%, 23%);
    padding: 0 0 2px 0;
}

#text_tarif > p {
    color: hsl(224, 23%, 55%);
    padding: 2px 0 0 0;
}

#tarif > a {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: hsl(245, 75%, 52%);
    padding-right: 15px;
}

#button {
    width: 78.66%;
    height: 50px;
    border-radius: 12px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: 700;
    font-size: 15.5px;
    line-height: 21px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    box-shadow: 0px 20px 20px hsl(245, 75%, 52%, 0.2);
}

#cancel > a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}

#tarif > a:hover {
    color: #6b60e8;
    text-decoration: none;
}

#button:hover {
    background-color: #6b60e8;
}

#cancel > a:hover {
    color: hsl(223, 47%, 23%);
}

.attribution {
    text-align: center;
    background-color: #d0d5fc;
    padding: 1px 0;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.attribution > p > a:link, .attribution > p > a:visited  {
    color: hsl(223, 47%, 23%);
}

.attribution > p > a:hover {
    color: white;
    border-radius: 20px;
    padding: 1px 5px 3px 5px;
    background-color: hsl(245, 75%, 52%);
}

/* mobil devices - resolution 375x709px */
@media screen and (max-width: 400px) {
    #card {
        width: 87%;
        height: 85%;
        max-height: 575px;
    }

    #content {
        padding: 0 25px 25px 25px;
        height: auto;
    }

    h1 {
        margin: 31px 0 17px 0;
    }

    #text > p {
        width: 254px;
        font-weight: 500;
        font-size: 15px;
        line-height: 165%;
    }


    #tarif {
        width: 277px;
        height: 80px;
        font-size: 14px;
    }

    h3 {
        font-size: 14px;
    }

    #button {
        margin: 0;
        width: 100%;
    }

    #cancel {
        margin-top: -6px;
    }

    #tarig > img {
        margin: auto auto auto 6px;
    }

    #tarif > #text_tarif {
        margin-left: 14px;
        line-height: 22px;
    }
     #tarif > h3, #tarif > p {
        padding: 0;
     }
}

