* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

html {
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat; 
    background-size:contain;
    background-position: top;
    
}

#card-position {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

#card {
    width: 450px;
    height: 697px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 476px;
    margin-top: -1.5%;
    gap: 1.5rem;
}

#card > img {
    border-radius: 20px 20px 0 0;
}

#tarif {
    background-color: hsl(225, 100%, 98%);
    width: 78.66%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    
}
 /*
#tarif > img {
    
}

#tarif > #text2 {
    
}

#tarif > a {
    
}